<div class="modal-body reply-draw-modal" style="overflow: visible">
  <div>
  {{draw-reply-canvas}}
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary pull-right" {{action "apply"}}>Reply</button>
</div>
